#main { 
  max-width: 600px;
  margin: 0 auto;
}

#buttons {
  width: 500px;
  margin: 20px auto;
  padding: 50px;
  border: solid blueviolet 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box; 
}

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}
